html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navHeader {
    background-color: #2c3e50 !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding-top: 24px;
    padding-bottom: 24px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    line-height: 1.5;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: #fff;
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 16px;
    padding-right: 15px;
    padding-left: 15px;
    transition: font-size .3s;
}

nav {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.menu {
    display: flex;
    list-style: none;
}

.menuItem {
    text-decoration: none;
    color: #fff;
    padding-left: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 4px;
    margin-right: 4px;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-right: 16px;
}

.menuItem:hover {
    color: #1abc9c;
    cursor: pointer;
}

.mobilebutton {
    display: none;
}

.home {
    background-color: #1abc9c;
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
    height: 488px;
    position: relative;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 8rem;

}

.avatar {
    width: 15rem;
    margin-bottom: 3rem;
}

.containerHeader {
    font-size: 4rem;
    color: #fff;
    line-height: 3.5rem;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.linesContainer {
    width: 100%;
    margin-top: 1.25rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lines {
    background-color: #fff;
    max-width: 7rem;
    height: .25rem;
    border-radius: 1rem;
    width: 100%;
    margin-right: 1rem;
}

.staricon {
    color: #fff;
    font-size: 2rem;
}

.secondline {
    margin-left: 1rem;
    margin-right: 0;
}

.shortdescription {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
}

.portfolioSection {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.portfolioHeader {
    font-size: 3rem;
    color: #2c3e50;
    text-transform: uppercase;
    text-align: center;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

#portfolioLines {
    max-width: 7rem;
    height: .25rem;
    border-radius: 1rem;
    width: 100%;
    margin-right: 1rem;
    background-color: #2c3e50;
}

#portfolioStaricon {
    color: #2c3e50;
    font-size: 2rem;
}

#secondPortfolioLine {
    margin-left: 1rem;
    margin-right: 0;
    background-color: #2c3e50;
}

.projectsGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
}

.image {
    width: 350px;
    border-radius: .5rem;
    position: relative;
}

.imgcontainer:hover .overlay {
    opacity: 0.9;
    cursor: pointer;

}

.imgcontainer {
    margin-bottom: 30px;
    border-radius: .5rem;
    flex: 1;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 99%;
    width: 350px;
    opacity: 0;
    transition: .5s ease;
    background-color: #1abc9c;
    border-radius: .5rem;
    font-size: 1.5rem;
    text-align: center;
}

#plusicon {
    color: #fff;
    font-size: 3em;
}

.overlay > #plusicon {
    position: relative;
    top: calc(50% - 36px);
    /* 50% - 3/4 of icon height */
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1030;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding: .5rem 1rem;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    border-radius: .5rem;
    padding: 2rem 1rem;
    margin-top: 1.75rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}

/* The Close Button */
.exitModal {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    left: 96%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.imgdiv {
    text-align: center;
}

.imgdiv > img {
    width: 710px;
    border-radius: .5rem;
    margin-bottom: 3rem;
}

.descriptionmodal {
    text-align: center;
    max-width: 710px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.exit {
    font-size: 3rem;
    line-height: 3rem;
    color: #1abc9c;
}

.closeModal {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
    height: 24px;
    border-radius: .5rem;
    margin: 0 auto;
    display: block;
    border: .125rem solid transparent;
    font-size: 1rem;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    height: 40px;
}

.closeModal:hover {
    cursor: pointer;
    background-color: #148f77;
    border-color: #12846e;
}

.closeicon {
    float: left;
}

.aboutSection {
    background-color: #1abc9c;
    padding: 6rem 0;
}

.aboutHeader {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

.aboutDescription {
    font-size: 1.25rem;
    color: #fff;
    max-width: 350px;
    line-height: 1.5;
    padding-right: 15px;
    padding-left: 15px;
}

.descriptionRow {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.downloadButton {
    background-color: transparent;
    border-color: #f8f9fa !important;
    border: .125rem solid transparent;
    border-radius: .5rem;
    color: #f8f9fa;
    ;
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
}

.downloadButton:hover {
    cursor: pointer;
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

#downloadIcon {
    float: left;
    margin-right: .5rem;
    margin-top: 5px;
}

#buttonrow {
    text-align: center;
    margin-top: 1.5rem;
}

.contactSection {
    padding: 6rem 0;
}

#contactForm {
    width: 730px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.inputControl {
    border: none;
    width: 100%;
    border-bottom: 1px solid #e9ecef;
    font-size: 1.5em;
    color: #495057;
    resize: none;
    padding-bottom: 2rem;
    font-family: inherit;
}

label {
    display: none;
}

.control {
    padding-bottom: .5rem;
}

.sendButton {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
    border-radius: .5rem;
    border: transparent;
    float: left;
}

.sendButton:hover {
    cursor: pointer;
    color: #fff;
    background-color: #159a80;
    border-color: #148f77;
}

textarea:focus,
input:focus {
    outline: none;
}

.copyrightContainer {
    background-color: #1a252f;
    padding: 1rem;
}

.copyright {
    color: #fff;
    text-align: center;
    font-size: 13px;
}

.footer {
    padding-top: 3.1rem;
    padding-bottom: 3.1rem;
    background-color: #2c3e50;
    color: #fff;
}

.footerContainer {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.location {
    text-align: center;
    font-size: 1.25rem;
    padding-right: 15px;
    padding-left: 15px;
    width: 350px;
}

.icondiv {
    display: block;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    width: 350px;
}

.icon {
    font-size: 1.25rem;
    border-radius: 100%;
    display: inline-block;
    padding: 0.6em 0.6em;
    color: #f8f9fa;
    border: .125rem solid;
    border-color: #f8f9fa;
    margin-left: .25rem;
    margin-right: .25rem;

}

.icon:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

h4 {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.freelancer {
    font-size: 1.25rem;
    color: #fff;
    max-width: 350px;
    line-height: 1.5;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.start {
    text-decoration: none;
    color: #1abc9c;
}

.start:hover {
    color: #117964;
    text-decoration: underline;
}

.active {
    font-family: 'Droid Sans', serif;
    font-size: 14px;
    background-color: #1abc9c;
    text-decoration: none;
    line-height: 50px;
}

.current {
    background-color: #1abc9c;
    border-radius: .5rem;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .navHeader {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: block;
    }

    nav {
        padding-right: 0;
        padding-left: 0;
    }

    .menu {
        display: none;
    }

    .logo {
        margin-left: 0;
        padding-left: 3.2rem;
        font-size: 1.25rem;
    }

    ul {
        width: 100%;
    }

    ul li {
        display: block;
        padding-top: 1rem;
        padding-bottom: 1rem;

    }

    .mobilebutton {
        display: block !important;
        background-color: #1abc9c;
        border: .125rem solid transparent;
        padding: .8rem;
        border-radius: .5rem;
        color: #fff;
        line-height: 1;
        text-transform: uppercase;
        font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: bold;
    }

    .mobilebutton:hover {
        background-color: #148f77;
        cursor: pointer;
    }

    .mobilebutton:focus,
    .mobilebutton:focus {
        outline: none;
    }

    .iconMenu {
        float: right;
        margin-left: 4px;
    }
}

@media (min-width: 576px) {
    .container1 {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container1 {
        width: 720px;
    }
}

@media (max-width: 765px) {
    .home {
        width: 740px;
    }

    .aboutSection {
        width: 740px;
    }

    .footer {
        width: 740px;
    }

    .copyrightContainer {
        width: 708px;
    }

    .descriptionRow {
        max-width: 1140px;
        margin: 0 auto;
        display: grid;
        flex-direction: row;
        justify-content: center;
    }

    .aboutDescription {
        text-align: center;
        font-size: 2.25rem;
    }

    .downloadButton {
        font-size: 2.25rem;
        padding: 3rem 2rem;
    }

    .shortdescription {
        color: #fff;
        font-size: 2.25rem;
        font-weight: 400;
    }

    .footerContainer {
        display: grid;
    }

    #Contact {
        display: grid;
        font-size: 2.25rem;
    }

    h4 {
        font-size: 2.25rem;
    }

    .location p {
        font-size: 2.25rem;
    }

    .freelancer p {
        font-size: 2.25rem;
    }

    .sendButton {
        font-size: 3.25rem;
    }

    .copyright {
        font-size: 15px;
    }

    .icon {
        font-size: 1.75rem;
    }

    .portfoliodiv {
        display: grid;

        width: 740px;
    }

    .image {
        width: 708px;
        border-radius: .5rem;
        position: relative;
        margin-left: 15px;
        margin-right: 15px;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 710px;
        opacity: 0;
        transition: .5s ease;
        background-color: #1abc9c;
        border-radius: .5rem;
        font-size: 1.5rem;
        text-align: center;
        margin-left: 15px;
    }

    .imgdiv > img {
        width: 575px;
        border-radius: .5rem;
        margin-bottom: 3rem;
    }

    .descriptionmodal {
        font-size: 1.75rem;
    }

    .closeModal {
        color: #fff;
        background-color: #1abc9c;
        border-color: #1abc9c;
        height: 24px;
        border-radius: .5rem;
        margin: 0 auto;
        display: block;
        border: .125rem solid transparent;
        font-size: 1.5rem;
        padding-top: 8px;
        padding-bottom: 6px;
        padding-left: 12px;
        padding-right: 12px;
        height: 60px;
    }
}

@media (max-width: 460px) {
    .logo {
        padding-left: 0;
        width: 460px;
    }
}
